@{
    ViewData["Title"] = "Places";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<button>Add Place</button>

<form>
    Place Name:<br />
    <input type="text" name="placename" /><br />
    Address: <br />
    <input type="text" name="address" /><br />
    Phone Number: <br />
    <input type="text" name="number" /><br />
    Website: <br />
    <input type="text" name="website" /><br />
    Latitude: <br />
    <input type="text" name="website" /><br />
    Longitude: <br />
    <input type="text" name="website" /><br />
    Summary:<br />
    <textarea name="summary" rows="10" cols="100"></textarea><br />
    <input type="submit" value="Submit" />

</form>


